<!DOCTYPE html>
<html lang="ar" dir="rtl" >

<head>
  <meta charset="utf-8">
  <title>اختبار شخصية</title>
  <style>



#app {
	min-height: 100vh;
      display: flex;
           
}
    #app>.row{
        
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px white;
  padding: 3rem;
  text-shadow: 0 1px #00000010;
  width: 60%;
    margin: 5rem auto;
  display: flex;
  flex-direction: column;
   min-height: 100vh;
   bottom:200px ;
   width: 500px;
   position: relative;
   background:linear-gradient(-45deg,#e8a49b,#d6dbe4) ;
    }
#BACK{
    width:650px;
    height: auto;
    background:linear-gradient(-45deg,#221c37,#e8a49b,#2a508e) ;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 10px;
    color:#000000;
    
}


h1 {
  
	margin-bottom: 20px;
 
}

[v-cloak] {
  display: none;
  
  
}


body {

  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 1.7rem;
  
  
}
.controls > * {
  margin: 1rem;
}
button {
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-weight: 300;
  color: white;
  outline: none;
  transform: scale(0.98);
  transition: all 0.2s;
}
button.previous {
  background:#d36dc2;
}
button.nextt {
  background:#335fa7 ;
}


button:hover,
button:focus {
  transform: scale(1);
  font-weight: 500;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}



  </style>
  
  
</head>

<body  id="BACK"; onload ="function()">

  <div id="app" v-cloak>

  <div class="row">
    <div class="large-12 columns">
      <h1>{{ quiz.title }}</h1>

      <div class="callout">

        <div v-for="(question, index) in quiz.questions">
          <!-- Hide all questions, show only the one with index === to current question index -->
          <div v-show="index === questionIndex">
            <h3>{{ question.text }}</h3>
            <ol>
              <!-- for each response of the current question -->
              <li v-for="response in question.responses">
                <label>
                                    <input type="radio"
                                    
								           v-bind:value="response.value"
								           v-bind:name="index"
								           v-model="userResponses[index]"> {{response.text}}
								  </label>
              </li>

            </ol>
            <!-- The two navigation buttons -->
            <!-- Note: prev is hidden on first question -->
            <div class="controls">
            <button class="nextt" v-on:click="next">
			        التالي
			      </button>
            <button class="previous " v-if="questionIndex > 0" v-on:click="prev">
			       السابق
			      </button>
                </div>
          </div>
        </div>

        <!-- Last page, quiz is finished, display result -->
        <div v-show="questionIndex === quiz.questions.length">
          <h3>شخصيتك</h3>
          <p>
            نتيجتك: {{ score() }}
          </p>
        </div>

      </div>

    </div>
  </div>

</div>



<script  >
    window.onload = function(){
var quiz = {
        title: 'اعرفي عطرك من شخصيتك!',

        questions: [{
          
          
                text: "اي نوع من الموسيقى تفضل؟",
                responses: [{
                        text: 'ريفية',
                        
                        value: '-المحيطات- بسيط ومنعش, تحب رائحة الشاطئ, انيق ولكن ملي بالمغامرات قد تستمتع بنزهات على الشاطئ البحر او لعب التنس في الهواء الطلق وتستمتع بمظهر نظيف وتعرف كيف تقضي وقتا ممتعا' 
                       
                    },
                    {
                        text: 'روك',
                        value: '-حلو- انت شخص انثوي, وغالبا ما يعتقد الناس انك شخص مرح وممتع. دائما ما تكون متفائلا, فأنت تجذب الناس بتصرفك الجميل, طاقتك معدية ومن المحتمل ان تجد نفسك محاطا بدائرة كبيرة من الاصدقاء في اي مكان تذهب اليه'
                    
                    },
                    {
                        text: 'غامضة',
                        value: '-غريب/شرقي- ساحر وغامض, غالبا ما يعتبرك الناس مغريا وقد ترغب في استكشاف اماكن بعيدة وتجربة اشياء جديدة,  من المحتمل انك تبحث عن عطر يلفت الانظار  ' 
                    },
                    {
                        text: 'الكترونية',
                        value: '-حار-لطيف وجذاب,  اصدقاءك يعتبروك  شخص منزلي, تستمتع بأنشطة مثل القراءة او الخبز او الجلوس بجوار نار دافئة مع كاس من القهوة, إن تصرفاتك ونصائحك الرائعة  تجعلك رفيق مثالي ' 
                    },
                    {
                        text: 'كلاسيكية',
                        value: '-الازهار- قد يصفك الناس على انك شخصية لطيفة تضيء الغرفة دائما انت ايضا قد تكون رومانسي وتتمتع بالأنوثة والكلاسيكية,يمكن ان تشمل انشطتك المفضلة ركوب الدراجات او الاسترخاء في الفناء الخارجي ' 
                    }
                ]
            },
            {
                text: "ماهو نوع الطعام المفضل لديك؟",
                responses: [{
                        text: 'الوجبات السريعة',
                        value: '-غريب/شرقي- ساحر وغامض, غالبا ما يعتبرك الناس مغريا وقد ترغب في استكشاف اماكن بعيدة وتجربة اشياء جديدة,  من المحتمل انك تبحث عن عطر يلفت الانظار  ' 
                    },
                    {
                        text: 'صحي',
                        
                        value: '-الازهار- قد يصفك الناس على انك شخصية لطيفة تضيء الغرفة دائما انت ايضا قد تكون رومانسي وتتمتع بالأنوثة والكلاسيكية,يمكن ان تشمل انشطتك المفضلة ركوب الدراجات او الاسترخاء في الفناء الخارجي ' 
                  
                    },
                    {
                        text: 'الحار',
                        
                        value: '-حار-لطيف وجذاب,  اصدقاءك يعتبروك  شخص منزلي, تستمتع بأنشطة مثل القراءة او الخبز او الجلوس بجوار نار دافئة مع كاس من القهوة, إن تصرفاتك ونصائحك الرائعة  تجعلك رفيق مثالي ' 
                    },
                    {
                        text: 'تقليدي',
                        
                        value: '-المحيطات- بسيط ومنعش, تحب رائحة الشاطئ, انيق ولكن ملي بالمغامرات قد تستمتع بنزهات على الشاطئ البحر او لعب التنس في الهواء الطلق وتستمتع بمظهر نظيف وتعرف كيف تقضي وقتا ممتعا' 
                    },
                    {
                        text: 'الحلو',
                        value: '-حلو- انت شخص انثوي, وغالبا ما يعتقد الناس انك شخص مرح وممتع. دائما ما تكون متفائلا, فأنت تجذب الناس بتصرفك الجميل, طاقتك معدية ومن المحتمل ان تجد نفسك محاطا بدائرة كبيرة من الاصدقاء في اي مكان تذهب اليه'
                  
                    }
                    
                ]
            },
            {
                text: "ماذا تفضل ان تفعل في الاجازة؟",
                responses: [{
                        text: 'السفر الى مكان اجنبي وغريب',
                        value: '-غريب/شرقي- ساحر وغامض, غالبا ما يعتبرك الناس مغريا وقد ترغب في استكشاف اماكن بعيدة وتجربة اشياء جديدة,  من المحتمل انك تبحث عن عطر يلفت الانظار  '
                    },
                    {
                        text: 'استرخ على الشاطى بالطبع!',
                        
                        value: '-المحيطات- بسيط ومنعش, تحب رائحة الشاطئ, انيق ولكن ملي بالمغامرات قد تستمتع بنزهات على الشاطئ البحر او لعب التنس في الهواء الطلق وتستمتع بمظهر نظيف وتعرف كيف تقضي وقتا ممتعا'
                    },
                    {
                        text: 'تنزه في الجبال ',
                        
                        value: '-حار-لطيف وجذاب,  اصدقاءك يعتبروك  شخص منزلي, تستمتع بأنشطة مثل القراءة او الخبز او الجلوس بجوار نار دافئة مع كاس من القهوة, إن تصرفاتك ونصائحك الرائعة  تجعلك رفيق مثالي '
                    },
                    {
                        text: 'استكشف المدينة ',
                        
                        value: '-الازهار- قد يصفك الناس على انك شخصية لطيفة تضيء الغرفة دائما انت ايضا قد تكون رومانسي وتتمتع بالأنوثة والكلاسيكية,يمكن ان تشمل انشطتك المفضلة ركوب الدراجات او الاسترخاء في الفناء الخارجي ' 
                  
                    },
                    {
                        text: 'عش تجربة في قرية اوروبية ساحرة',
                        value: '-حلو- انت شخص انثوي, وغالبا ما يعتقد الناس انك شخص مرح وممتع. دائما ما تكون متفائلا, فأنت تجذب الناس بتصرفك الجميل, طاقتك معدية ومن المحتمل ان تجد نفسك محاطا بدائرة كبيرة من الاصدقاء في اي مكان تذهب اليه'
                    
                    }
                ]
            },
            {
                text: "كيف تصف اسلوبك الشخصي؟",
                responses: [{
                        text: 'جراة.اجرب دائما احدث صيحات الموضة',
                        value: '-غريب/شرقي- ساحر وغامض, غالبا ما يعتبرك الناس مغريا وقد ترغب في استكشاف اماكن بعيدة وتجربة اشياء جديدة,  من المحتمل انك تبحث عن عطر يلفت الانظار  '
                    },
                    {
                        text: 'ان يكون اسلوبك في الموضة يتبع البوهو شيك',
                        value: '-حلو- انت شخص انثوي, وغالبا ما يعتقد الناس انك شخص مرح وممتع. دائما ما تكون متفائلا, فأنت تجذب الناس بتصرفك الجميل, طاقتك معدية ومن المحتمل ان تجد نفسك محاطا بدائرة كبيرة من الاصدقاء في اي مكان تذهب اليه'
                    
                    },
                    {
                        text: 'منفعة.فقط تبحث عن الاشياء المريحة والتي ستنفعك',
                        
                        value: '-المحيطات- بسيط ومنعش, تحب رائحة الشاطئ, انيق ولكن ملي بالمغامرات قد تستمتع بنزهات على الشاطئ البحر او لعب التنس في الهواء الطلق وتستمتع بمظهر نظيف وتعرف كيف تقضي وقتا ممتعا'
                    },
                    {
                        text: 'كلاسيك.لاتخرج عن الموضة ابدا',
                       
                        value: '-الازهار- قد يصفك الناس على انك شخصية لطيفة تضيء الغرفة دائما انت ايضا قد تكون رومانسي وتتمتع بالأنوثة والكلاسيكية,يمكن ان تشمل انشطتك المفضلة ركوب الدراجات او الاسترخاء في الفناء الخارجي ' 
                   
                    },
                    {
                        text: 'مثير.الفاستين المزخرفة والكعب العالي',
                        
                        value: '-حار-لطيف وجذاب,  اصدقاءك يعتبروك  شخص منزلي, تستمتع بأنشطة مثل القراءة او الخبز او الجلوس بجوار نار دافئة مع كاس من القهوة, إن تصرفاتك ونصائحك الرائعة  تجعلك رفيق مثالي '
                    }
                ]
            },{
                text: "ماهي افضل كلمة تصف شخصيتك؟",
                responses: [{
                        text: 'مرح',
                       
                        value: '-حار-لطيف وجذاب,  اصدقاءك يعتبروك  شخص منزلي, تستمتع بأنشطة مثل القراءة او الخبز او الجلوس بجوار نار دافئة مع كاس من القهوة, إن تصرفاتك ونصائحك الرائعة  تجعلك رفيق مثالي '
                    },
                    {
                        text: 'ودود',
                        value: '-حلو- انت شخص انثوي, وغالبا ما يعتقد الناس انك شخص مرح وممتع. دائما ما تكون متفائلا, فأنت تجذب الناس بتصرفك الجميل, طاقتك معدية ومن المحتمل ان تجد نفسك محاطا بدائرة كبيرة من الاصدقاء في اي مكان تذهب اليه'
                    
                    },
                    {
                        text: 'مغامر',
                       
                        value: '-المحيطات- بسيط ومنعش, تحب رائحة الشاطئ, انيق ولكن ملي بالمغامرات قد تستمتع بنزهات على الشاطئ البحر او لعب التنس في الهواء الطلق وتستمتع بمظهر نظيف وتعرف كيف تقضي وقتا ممتعا'
                    },
                    {
                        text: 'فريد',
                        value: '-غريب/شرقي- ساحر وغامض, غالبا ما يعتبرك الناس مغريا وقد ترغب في استكشاف اماكن بعيدة وتجربة اشياء جديدة,  من المحتمل انك تبحث عن عطر يلفت الانظار  '
                    },
                    {
                        text: 'هادى',
                        
                        value: '-الازهار- قد يصفك الناس على انك شخصية لطيفة تضيء الغرفة دائما انت ايضا قد تكون رومانسي وتتمتع بالأنوثة والكلاسيكية,يمكن ان تشمل انشطتك المفضلة ركوب الدراجات او الاسترخاء في الفناء الخارجي ' 
                    
                    }
                ]
            },{
                text: "تشعر انك افضل عندما تكون...",
                responses: [{
                        text: 'الاحتفال مع الاصدقاء',
                        value: '-حلو- انت شخص انثوي, وغالبا ما يعتقد الناس انك شخص مرح وممتع. دائما ما تكون متفائلا, فأنت تجذب الناس بتصرفك الجميل, طاقتك معدية ومن المحتمل ان تجد نفسك محاطا بدائرة كبيرة من الاصدقاء في اي مكان تذهب اليه'
                 
                    },
                    {
                        text: 'في العمل',
                        
                        value: '-المحيطات- بسيط ومنعش, تحب رائحة الشاطئ, انيق ولكن ملي بالمغامرات قد تستمتع بنزهات على الشاطئ البحر او لعب التنس في الهواء الطلق وتستمتع بمظهر نظيف وتعرف كيف تقضي وقتا ممتعا'
                    },
                    {
                        text: 'تطبخ او تخبز',
                        
                        value: '-حار-لطيف وجذاب,  اصدقاءك يعتبروك  شخص منزلي, تستمتع بأنشطة مثل القراءة او الخبز او الجلوس بجوار نار دافئة مع كاس من القهوة, إن تصرفاتك ونصائحك الرائعة  تجعلك رفيق مثالي '
                    },
                    {
                        text: 'تقراء كتاب جيد',
                        
                        value: '-الازهار- قد يصفك الناس على انك شخصية لطيفة تضيء الغرفة دائما انت ايضا قد تكون رومانسي وتتمتع بالأنوثة والكلاسيكية,يمكن ان تشمل انشطتك المفضلة ركوب الدراجات او الاسترخاء في الفناء الخارجي ' 
                    
                    },
                    {
                        text: 'السفر والاستكشاف',
                        value: '-غريب/شرقي- ساحر وغامض, غالبا ما يعتبرك الناس مغريا وقد ترغب في استكشاف اماكن بعيدة وتجربة اشياء جديدة,  من المحتمل انك تبحث عن عطر يلفت الانظار  '
                    }
                ]
            },{
                text: "اختر رائحة مفضلة من الخيارات ادناه",
                responses: [{
                        text: 'الورد',
                        
                        value: '-الازهار- قد يصفك الناس على انك شخصية لطيفة تضيء الغرفة دائما انت ايضا قد تكون رومانسي وتتمتع بالأنوثة والكلاسيكية,يمكن ان تشمل انشطتك المفضلة ركوب الدراجات او الاسترخاء في الفناء الخارجي ' 
                    
                    },
                    {
                        text: 'البرتقال',
                        value: '-حلو- انت شخص انثوي, وغالبا ما يعتقد الناس انك شخص مرح وممتع. دائما ما تكون متفائلا, فأنت تجذب الناس بتصرفك الجميل, طاقتك معدية ومن المحتمل ان تجد نفسك محاطا بدائرة كبيرة من الاصدقاء في اي مكان تذهب اليه'
                   
                    },
                    {
                        text: 'صنوبر',
                        value: '-غريب/شرقي- ساحر وغامض, غالبا ما يعتبرك الناس مغريا وقد ترغب في استكشاف اماكن بعيدة وتجربة اشياء جديدة,  من المحتمل انك تبحث عن عطر يلفت الانظار  '
                    },
                    {
                        text: 'قرنفل',
                        
                        value: '-حار-لطيف وجذاب,  اصدقاءك يعتبروك  شخص منزلي, تستمتع بأنشطة مثل القراءة او الخبز او الجلوس بجوار نار دافئة مع كاس من القهوة, إن تصرفاتك ونصائحك الرائعة  تجعلك رفيق مثالي '
                    },
                    {
                        text: 'المحيط',
                       
                        value: '-المحيطات- بسيط ومنعش, تحب رائحة الشاطئ, انيق ولكن ملي بالمغامرات قد تستمتع بنزهات على الشاطئ البحر او لعب التنس في الهواء الطلق وتستمتع بمظهر نظيف وتعرف كيف تقضي وقتا ممتعا'
                    }
                ]
            },{
                text: "تريد ان تجعل رائحة العطر ان تشعرك ب...",
                responses: [{
                        text: 'الشباب',
                        value: '-غريب/شرقي- ساحر وغامض, غالبا ما يعتبرك الناس مغريا وقد ترغب في استكشاف اماكن بعيدة وتجربة اشياء جديدة,  من المحتمل انك تبحث عن عطر يلفت الانظار  '
                    },
                    {
                        text: 'الامان',
                       
                        value: '-حار-لطيف وجذاب,  اصدقاءك يعتبروك  شخص منزلي, تستمتع بأنشطة مثل القراءة او الخبز او الجلوس بجوار نار دافئة مع كاس من القهوة, إن تصرفاتك ونصائحك الرائعة  تجعلك رفيق مثالي '
                    },
                    {
                        text: 'شجاعة',
                        
                        value: '-المحيطات- بسيط ومنعش, تحب رائحة الشاطئ, انيق ولكن ملي بالمغامرات قد تستمتع بنزهات على الشاطئ البحر او لعب التنس في الهواء الطلق وتستمتع بمظهر نظيف وتعرف كيف تقضي وقتا ممتعا'
                    },
                    {
                        text: 'نشاط',
                        value: '-الازهار- قد يصفك الناس على انك شخصية لطيفة تضيء الغرفة دائما انت ايضا قد تكون رومانسي وتتمتع بالأنوثة والكلاسيكية,يمكن ان تشمل انشطتك المفضلة ركوب الدراجات او الاسترخاء في الفناء الخارجي ' 
                    
                    },
                    {
                        text: 'السعادة',
                        value: '-حلو- انت شخص انثوي, وغالبا ما يعتقد الناس انك شخص مرح وممتع. دائما ما تكون متفائلا, فأنت تجذب الناس بتصرفك الجميل, طاقتك معدية ومن المحتمل ان تجد نفسك محاطا بدائرة كبيرة من الاصدقاء في اي مكان تذهب اليه'
                    
                    }
                ]
            },{
                text: "ماهو موسمك المفضل؟",
                responses: [{
                        text: 'الشتاء',
                       
                        value: '-حار-لطيف وجذاب,  اصدقاءك يعتبروك  شخص منزلي, تستمتع بأنشطة مثل القراءة او الخبز او الجلوس بجوار نار دافئة مع كاس من القهوة, إن تصرفاتك ونصائحك الرائعة  تجعلك رفيق مثالي '
                    },
                    {
                        text: 'الربيع',
                        value: '-حلو- انت شخص انثوي, وغالبا ما يعتقد الناس انك شخص مرح وممتع. دائما ما تكون متفائلا, فأنت تجذب الناس بتصرفك الجميل, طاقتك معدية ومن المحتمل ان تجد نفسك محاطا بدائرة كبيرة من الاصدقاء في اي مكان تذهب اليه'
                    },
                    {
                        text: 'الخريف',
                        value: '-غريب/شرقي- ساحر وغامض, غالبا ما يعتبرك الناس مغريا وقد ترغب في استكشاف اماكن بعيدة وتجربة اشياء جديدة,  من المحتمل انك تبحث عن عطر يلفت الانظار  '
                    },
                    {
                        text: 'الصيف',
                        value: '-المحيطات- بسيط ومنعش, تحب رائحة الشاطئ, انيق ولكن ملي بالمغامرات قد تستمتع بنزهات على الشاطئ البحر او لعب التنس في الهواء الطلق وتستمتع بمظهر نظيف وتعرف كيف تقضي وقتا ممتعا '
                    },
                    {
                        text: 'ليس لديك موسم مفضل',
                        value: '-الازهار- قد يصفك الناس على انك شخصية لطيفة تضيء الغرفة دائما انت ايضا قد تكون رومانسي وتتمتع بالأنوثة والكلاسيكية,يمكن ان تشمل انشطتك المفضلة ركوب الدراجات او الاسترخاء في الفناء الخارجي ' 
                   
                    }
                ]
            },
            
        ]

     
      };


      



    var app = new Vue({
        el: '#app',
        data: {
            quiz: quiz,
            questionIndex: 0,
            userResponses: Array(),
            
            
  },
 
        methods: {
            // Go to next question
            next: function() {
                this.questionIndex++;
                console.log(this.userResponses);
            },
            // Go to previous question
            prev: function() {
                this.questionIndex--;
            },
            score: function() {
                //find the highest occurence in responses
                var modeMap = {};
                var maxEl = this.userResponses[0],
                    maxCount = 1;
                for (var i = 0; i < this.userResponses.length; i++) {
                    var el = this.userResponses[i];
                    if (modeMap[el] == null)
                        modeMap[el] = 1;
                    else
                        modeMap[el]++;
                    if (modeMap[el] > maxCount) {
                        maxEl = el;
                        maxCount = modeMap[el];
                    }
                }
                return maxEl;
            }
        }
    });
}

</script>

<script src='https://unpkg.com/vue/dist/vue.js'></script>

  

    <script  src="js/index.js"></script>

</body>

</html>
